.post-header-wrap .post-title{
    background-color: #446d74 !important;
}
.post-meta{
    background-color: #547980 !important;
}
.author-avatar{
    background-image: url("/images/authorimage.png")
}
.center{
    text-align: center;
}